.featured{
padding: 5rem;
font-family: 'Poppins', sans-serif;
position: relative;


.desc{
    margin: 35px 0;
    line-height: 50px;
    font-size: 40px;
}

.wrapper{
    margin: 25rem 0;
    display: grid;
    grid-gap: 90px;
}
.container-items{
    width: 320px;
}

h2{
    text-align: center;
    padding: 80px 0;
}
.blue{
    color: #1a1ac0;
}
.img{
    width: 450px;
    height: 500px;
    background-size: cover;
    position: relative;
}
.img:hover{
    cursor: pointer;
}


.img1{
    position: relative;
    top: 0%;
    left: 9%;
}

.img2{
    position: relative;
    top: 10%;
    left: 70%;
}
.img3{
    position: relative;
    top: -50%;
    left: 2%;
}
.img4{
    position: relative;
    top: -50%;
    left: 55%;
}
.img5{
    position: relative;
    top: -20%;
    left: 15%;
}
.img6{
    position: relative;
    top: -20%;
    left: 65%;
}
.img7{
    position: relative;
    top: -20%;
    left: 10%;
}
.img8{
    position: relative;
    top: -20%;
    left: 58%;
}

}