/* .bg{
    background-image: url(../../../public/img/pexels-cole-keister-2466756.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
} */