@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


.bg{
    background-image: url(../../../public/img/pexels-cole-keister-2466756.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
   
}

.navbar{
    opacity: 1;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase; 
    opacity: 0;
    
     
     .title{
        font-weight: bold;
        padding: 10px 20px;
        color: white;
     }
     .links{
        margin-top: 10px;
        text-decoration: none;
     }
     a{
        text-decoration: none;
        color: azure;
        font-weight: 400;
        
     }
    li{
        padding: 0px 40px;
         display:inline;
         text-decoration: none;
         font-size: 12px;
         margin-top: 35px;
    }
    .special{
        padding: 0 50px;
    }
}

.header-title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 239px;
    font-weight: bold;
    font-size: 5rem;
    color: azure;
    opacity: 0;


    .sp{
        padding-left: 355px;
        margin-top: 900px;
        font-size: 4rem;
    }

}
.title{
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-left: 35rem;
    font-weight: bold;
    color: azure;
    font-size: 1rem;

}
